body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    margin: 0;
}

h2 {
    color: #4CAF50;
}


.header {
    background-color: #4CAF50;
    color: white;
    padding: 30px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}
section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section ul, section ol {
    margin-left: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}
